.footer {
    background-color: var(--ui-background-color);
    color: #fff;
    padding: 30px;
    display: flex;
}

.footer > section {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: calc(100% / 3);
}

.footer ul {
    list-style: none;
    display: flex;
}

.footer li {
    color: #ddd;
    padding: 20px;
    font-size: 15px;
    font-weight: 200;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.footer li:hover {
    background-color: #222;
}

.footer img {
    --img-size: 35px;
    height: var(--img-size);
    width: var(--img-size);
}

.footer h2 {
    font-family: 'Babeus';
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.footer h3 {
    font-family: 'Anta';
    font-size: 18px;
    font-weight: normal;
}

/* mobile view */
@media screen and (max-width: 1000px) {
    .footer {
        flex-direction: column;
    }
}
