@import './navbar.css';
@import './logo.css';
@import './img-slider.css';
@import './footer.css';

@font-face {
    font-family: 'Anta';
    src: URL('../fonts/Anta-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: URL('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Babeus';
    src: URL('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: URL('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    --primary-color: #f1ed0e;
    --secondary-color: #fff;
    --secondary-alternative: #000;
    --ui-background-color: #181818;
    --ui-background-color-hover: #222;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.highlight-primary {
    color: var(--primary-color);
}

.highlight-secondary {
    color: var(--secondary-alternative);
}

.main-header {
    font-family: 'Anta';
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    background-color: var(--ui-background-color);
    color: var(--primary-color);
}

.text-content {
    position: relative;
    padding: 50px;
    font-family: 'Quicksand';
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ddd;
}

.text-content img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.text-content h2 {
    color: #fff;
    font-size: 28px;
    padding: 40px 0 10px 0;
}

.text-content h2.no-padding-top {
    padding-top: 0;
}
