@import './navbar.css';
@import './logo.css';
@import './img-slider.css';
@import './photos-library.css';
@import './footer.css';

@font-face {
    font-family: 'Anta';
    src: URL('../fonts/Anta-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: URL('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Babeus';
    src: URL('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: URL('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    --primary-color: #f1ed0e;
    --strong-color: #cca135;
    --secondary-color: #ddd;
    --secondary-alternative: #000;
    --third-color: #222;
    --ui-background-color: #181818;
    --ui-background-color-hover: #222;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--secondary-color);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.text-uppercase {
    text-transform: uppercase;
}

.fw-light {
    font-weight: 200;
}

.highlight-primary {
    color: var(--primary-color);
}

.highlight-secondary {
    color: var(--secondary-alternative);
}

.main-header {
    font-family: 'Anta';
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    background-color: var(--ui-background-color);
    color: var(--primary-color);
}

.text-content {
    position: relative;
    padding: 50px;
    font-family: 'Quicksand';
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-color);
}

.text-content-secondary {
    color: var(--secondary-color);
    background-color: var(--third-color);
    display: flex;
    flex-wrap: wrap;
}

.text-content-secondary h3 {
    font-size: 1.8rem;
    font-family: 'Anta';
    text-transform: uppercase;
}

.text-content-secondary p {
    font-size: 1.6rem;
    margin-top: 10px;
}

.text-content-secondary > section {
    padding: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.contact-img {
    width: 100px;
}

.contact-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contact-img.logo img {
    width: 100%;
    scale: 2;
}

.text-content > section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.text-content p {
    margin-top: 15px;
}

.text-content ul {
    padding: 10px 50px;
}

.text-content > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.text-content h3 {
    font-size: 28px;
    padding: 40px 0 10px 0;
}

.text-content strong {
    color: var(--primary-color);
    font-weight: normal;
}

.text-content h3.no-padding-top {
    padding-top: 0;
}

.recommendation-header img {
    height: 70px;
}

.section-spacing > section {
    padding-top: 50px;
}

.section-spacing > section:first-of-type {
    padding-top: 0;
}

.cite {
    font-style: italic;
}

.cite::before,
.cite::after {
    content: '"';
}

ul li {
    padding: 5px 0;
}

/* mobile view */
@media screen and (max-width: 1000px) {
    .text-content {
        padding: 25px;
    }

    .text-content p:not(:first-of-type) {
        margin-top: 35px;
    }
}
