.logo-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 120px;
}

.logo-container img {
    display: block;
}

.quote {
    text-transform: uppercase;
    font-family: 'Babeus';
    font-size: 30px;
    align-self: center;
    letter-spacing: 2px;
}

/* mobile view */
@media screen and (max-width: 1000px) {
    .logo-container {
        height: 80px;
    }

    .quote {
        font-size: 20px;
    }
}
