.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 0 20px;
    font-size: 20px;
    background-color: var(--ui-background-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-grow: 5;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Anta';
    font-weight: 500;
}

.nav-links li {
    padding: 20px 0;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.nav-links li:hover {
    filter: brightness(60%);
}

.nav-links li:nth-child(odd) {
    color: var(--primary-color);
}

.nav-links li:nth-child(even) {
    color: var(--secondary-color);
}

.sponsors {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 20px;
    padding: 10px 0;
}

.sponsors img {
    max-width: 50%;
    max-height: 50px;
}

.mobile-button {
    display: none;
    margin-right: auto;
    position: relative;
}

.mobile-button:hover {
    cursor: pointer;
}

.mobile-button .line {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
}

/* mobile view */
@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column-reverse;
    }

    .navbar.active .nav-links {
        max-height: 500px;
    }

    .nav-links {
        max-height: 0;
        flex-direction: column;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links li:hover {
        filter: none;
        background-color: var(--ui-background-color-hover);
    }

    .mobile-button {
        display: block;
    }
}
