.photos-container {
    --repeat-value: 8;
    display: grid;
    padding: 30px 15px;
    gap: 15px;
    grid-template-columns: repeat(var(--repeat-value), 1fr);
    grid-auto-rows: 30vh;
}

.photos-container .photo {
    display: block;
}

.photos-container .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photos-first-layout .photo:nth-child(1) {
    grid-column: span 2;
    grid-row: span 3;
}

.photos-first-layout .photo:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

.photos-first-layout .photo:nth-child(3) {
    grid-column: span 2;
}

.photos-first-layout .photo:nth-child(4) {
    grid-row: span 2;
}

.photos-first-layout .photo:nth-child(8) {
    grid-column: span 2;
}

.photos-first-layout .photo:nth-child(9) {
    grid-column: span 3;
    grid-row: span 3;
}

.photos-first-layout .photo:nth-child(12) {
    grid-row: span 2;
}

.photos-first-layout .photo:nth-child(13) {
    grid-row: span 2;
}

.photos-first-layout .photo:nth-child(15) {
    grid-column: span 2;
    grid-row: span 2;
}

.photos-first-layout .photo:nth-child(18) {
    grid-column: span 2;
    grid-row: span 2;
}

.photos-first-layout .photo:nth-child(21) {
    grid-column: span 3;
}

.photos-first-layout .photo:nth-child(24) {
    grid-column: span 2;
}

.photos-first-layout .photo:nth-child(25) {
    grid-row: span 2;
}

.photos-first-layout .photo:nth-child(26) {
    grid-column: span 2;
}

.photos-first-layout .photo:nth-child(28) {
    grid-row: span 2;
}

.photos-second-layout {
    grid-auto-rows: 50vh;
    padding-left: 0;
    padding-right: 0;
    --repeat-value: 3;
}

.recommendation-header img {
    max-width: 400px;
}

/* mobile view */
@media screen and (max-width: 1000px) {
    .photos-container {
        grid-template-columns: 1fr;
        grid-auto-rows: 50vh;
    }

    .photos-container > .photo {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .recommendation-header img {
        max-width: unset;
        width: 100%;
    }

    .photos-container .photo:nth-child(1) img {
        object-position: 50% 20%;
    }

    .photos-container .photo:nth-child(2) img {
        object-position: 50% 15%;
    }

    .photos-container .photo:nth-child(5) img {
        object-position: 50% 10%;
    }

    .photos-container .photo:nth-child(6) img {
        object-position: 50% 25%;
    }

    .photos-container .photo:nth-child(9) img {
        object-position: 50% 25%;
    }

    .photos-container .photo:nth-child(10) img {
        object-position: 50% 10%;
    }

    .photos-container .photo:nth-child(11) img {
        object-position: 50% 35%;
    }

    .photos-container .photo:nth-child(12) img {
        object-position: 50% 5%;
    }

    .photos-container .photo:nth-child(13) img {
        object-position: 50% 21%;
    }

    .photos-container .photo:nth-child(14) img {
        object-position: 50% 40%;
    }

    .photos-container .photo:nth-child(15) img {
        object-position: 50% 42%;
    }

    .photos-container .photo:nth-child(17) img {
        object-position: 50% 32%;
    }

    .photos-container .photo:nth-child(19) img {
        object-position: 50% 39%;
    }

    .photos-container .photo:nth-child(21) img {
        object-position: 50% 41%;
    }

    .photos-container .photo:nth-child(23) img {
        object-position: 50% 35%;
    }

    .photos-container .photo:nth-child(25) img {
        object-position: 50% 30%;
    }

    .photos-container .photo:nth-child(32) img {
        object-position: 50% 15%;
    }

    .photos-container .photo:nth-child(34) img {
        object-position: 50% 30%;
    }
}
