.photos-container {
    display: grid;
    padding: 30px 15px;
    gap: 15px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 30vh;
}

.photos-container .photo {
    display: block;
}

.photos-container .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo:nth-child(1) {
    grid-column: span 2;
    grid-row: span 3;
}

.photo:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

.photo:nth-child(3) {
    grid-column: span 2;
}

.photo:nth-child(4) {
    grid-row: span 2;
}

.photo:nth-child(8) {
    grid-column: span 2;
}

.photo:nth-child(9) {
    grid-column: span 3;
    grid-row: span 3;
}

.photo:nth-child(12) {
    grid-row: span 2;
}

.photo:nth-child(13) {
    grid-row: span 2;
}

.photo:nth-child(15) {
    grid-column: span 2;
    grid-row: span 2;
}

.photo:nth-child(18) {
    grid-column: span 2;
    grid-row: span 2;
}

.photo:nth-child(21) {
    grid-column: span 3;
}

.photo:nth-child(24) {
    grid-column: span 2;
}

.photo:nth-child(25) {
    grid-row: span 2;
}

.photo:nth-child(26) {
    grid-column: span 2;
}

.photo:nth-child(28) {
    grid-row: span 2;
}

/* mobile view */
@media screen and (max-width: 1000px) {
    .photos-container {
        grid-template-columns: 1fr;
        grid-auto-rows: 90vh;
    }

    .photos-container > .photo {
        grid-column: unset;
        grid-row: unset;
    }
}
